{% extends "/teachers/base_template.html" %}
	{% block title %}Feedback Given{% endblock %}
	{% block body %}
		<style>
			ul {
				list-style-type: none;
				margin: 0;
			}
			a span {
				font-size: 12px;
			}
		</style>
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>Feedback Home</h1>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<h2>Your Feedback</h2>
					<ul>
						{% for assignment in assignments %}
							<li>
								<a href="/teachers/feedback/{{teach_feedback.id}}/">{{teach_feedback.get_feedback}}<br/>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="span6">
					<h2>Give Feedback</h2>
					<form class="form-horizontal well" method="POST" action="/teachers/feedback/create/">
						<fieldset>
							<div><span>Description: </span><br/><textarea name="description" rows="4" cols="30"
								placeholder="Information about the assignment." required></textarea></div>
							<div><input type="submit" class="btn btn-primary"></div>
							{% with messages = get_flashed_messages() %}
								{% if messages %}
									{% for message in messages %}
										<div class="alert alert-success" style="margin: 0 auto;"><strong>{{message}}</strong></div>
									{% endfor %}
								{% endif %}
							{% endwith %}
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}
