{% extends "base.html" %}
{% block page_title %}More Info{% endblock %}
{% block body %}
    {{ super() }}

    <p>This is a tool that implements the backwards design model</p>
    <p>The main purpose is to introduce a new way for teachers to encourage kids academically</p>
    <p>This includes:</p>
      <ul>
        <li>Visuals for how well they are doing in class</li>
        <li>Objectives and questions with an easy to understand flow model</li>
        <li>Sending notifications when necessary</li>
        <li>Uploading files</li>
        <li>Interaction with Database</li>
    </ul>
{% endblock %}
